<main>
  <h2>Archives</h2>
  <ul>
    <% site.posts.each(function(post) { %>
      <li>
        <a href="<%- post.permalink %>"><%- post.title %></a>
        <span class="date"> - <%=
          moment(post.date).tz('Asia/Taipei').format('YYYY-MM-DD')
        %></span>
      </li>
    <% }) %>
  </ul>
</main>
