/* main.css */

/* 全局樣式 */
/* 引入其他 CSS 文件 */
@import url('style.css');
@import url('style_archives.css');
@import url('style_header.css');
@import url('style_index_post.css');
@import url('style_post.css');
@import url('style_sidebar.css');
@import url('style_search.css');


/* 響應式設計 */
@media (max-width: 768px) {
    .home-intro h2 {
      font-size: 1.5em; /* 平板或小屏幕的字體大小 */
    }

    header h1 {
      font-size: 1.8em; /* 根據需要調整 */
    }
  
    header {
      flex-direction: column;
    }
  
    .header-content {
      flex-direction: column;
    }
  
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav a {
      margin-bottom: 10px;
    }
  
    /* Archives 主內容 */
    main {
      padding: 10px;
    }


    /* 移動版選單的顯示 */
    .mobile-nav.active {
        display: block; /* 顯示菜單 */
    }

    .menu-toggle {
        display: block;
    }
    
    .mobile-nav {
      display: none; /* 初始隱藏 */
      position: fixed; /* 使用固定定位 */
      top: 50px; /* 調整為適合的距離 */
      right: 10px; /* 調整為適合的距離 */
      width: 95%; /* 設置為螢幕的 90% 寬度 */
      /* max-width: 300px; 最大寬度限制 */
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow: auto; /* 防止內容超出範圍 */
    }
    
    .mobile-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .mobile-nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    .mobile-nav ul li a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        white-space: nowrap; /* 防止內容換行 */
    }
    
    .mobile-nav ul li a:hover {
        background: #f8f9fa;
    }

    .social-sidebar {
        width: 25%;
      }
    
  }
  
  @media (max-width: 480px) {
    .home-intro h2 {
      font-size: 1.2em; /* 手機屏幕的字體大小 */
    }
  
    header h1 {
      font-size: 1.5em; /* 根據需要調整 */
    }
  
    header {
      padding: 15px;
    }
  
    .header-content {
      flex-direction: column;
      align-items: center;
    }
  
    nav {
      align-items: center;
    }
  
    button {
      padding: 8px 16px;
      font-size: 0.9em;
    }
  
    /* Archives 主內容 */
    main {
      padding: 5px;
    }

    .social-sidebar {
        width: 30%;
      }
  }