/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0; /* 更改為淺灰色背景 */
}




.home-intro {
  padding: 50px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  color: #ffffff;
  /* 移除背景圖片 */
}

.home-intro .home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 確保圖片覆蓋容器 */
  z-index: -1; /* 確保圖片在文字下方 */
}

.home-intro h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #efff96;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  animation: textPulse 1.5s ease infinite;
}

/* 添加動畫樣式 */
.home-intro {
  animation: gradientShift 15s ease infinite;
}

/* 添加動態背景的樣式，若有需要 */
@keyframes gradientShift {
  0% { background: linear-gradient(to right, rgba(255, 0, 150, 0.5), rgba(0, 204, 255, 0.5)); }
  50% { background: linear-gradient(to right, rgba(255, 0, 150, 0.5), rgba(255, 204, 0, 0.5)); }
  100% { background: linear-gradient(to right, rgba(255, 0, 150, 0.5), rgba(0, 204, 255, 0.5)); }
}

@keyframes textPulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}



/* 返回頂部按鈕樣式 */
.scroll-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 131, 131);
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* 默認隱藏按鈕 */
  z-index: 1000; /* 確保按鈕在最上層 */
  font-size: 26px;
  transition: opacity 0.3s ease;
}

.scroll-to-top-btn:hover {
  background-color: #d8fdfd;
}



.cursor-effect {
  position: absolute;
  width: 30px; /* 增加寬度 */
  height: 30px; /* 增加高度 */
  border-radius: 50%; /* 圓形 */
  background: rgba(0, 150, 255, 0.6); /* 使用更明亮的顏色 */
  border: 4px solid rgba(255, 255, 255, 0.8); /* 更白的邊框 */
  box-shadow: 0 0 15px rgba(0, 150, 255, 0.5), 0 0 30px rgba(255, 105, 180, 0.5); /* 添加雙重陰影效果 */
  pointer-events: none; /* 讓這個元素不會阻止滑鼠事件 */
  transition: transform 0.2s ease, opacity 0.2s ease, background 0.3s ease; /* 增加背景顏色變化 */
  animation: pulse 1.5s infinite; /* 添加脈動動畫 */
}

/* 增加動畫效果 */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
