

.social-sidebar {
  position: fixed;
  top: 20%;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease; /* 添加平移过渡效果 */
}

/* 社交链接侧边栏样式 */
.social-sidebar {
  background-color: #4fc3f7;
  color: #fff;
  width: 250px;
  padding: 20px;
  text-align: center;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.social-sidebar h2 {
  margin-bottom: 10px;
}

.social-sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease; /* 添加颜色过渡效果 */
}

.social-sidebar a:hover {
  color: #ccc;
}

/* 固定在網頁左邊中間的按鈕 */
#toggleButton {
  position: fixed; /* 固定定位 */
  left: 2px; /* 距離左邊 20 像素，根據需求調整 */
  top: 94%; /* 垂直中心對齊 */
  transform: translateY(-50%); /* 垂直居中對齊 */
  background-color: #007bff; /* 按鈕背景顏色 */
  color: #fff; /* 按鈕文字顏色 */
  border: none; /* 去掉邊框 */
  padding: 3px 3px; /* 內邊距 */
  border-radius: 35px; /* 圓角 */
  cursor: pointer; /* 滑鼠懸停時顯示手形 */
  font-size: 1em; /* 字體大小 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 陰影 */
  z-index: 999;
}

#toggleButton:hover {
  background-color: #0056b3; /* 懸停時的背景顏色 */
}

#toggleButton2 {
  background: #4fc3f7;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  position: relative; /* 為了使下拉菜單的定位有效 */
}