.post {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-top: 20px;
  padding: 20px; /* 增加內邊距 */
  border-radius: 8px; /* 圓角邊框 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 增加陰影 */
  background-color: #f9f9f9; /* 背景顏色 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 平滑過渡效果 */
}

.post:hover {
  transform: translateY(-5px); /* 鼠標懸停時向上移動 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 增加陰影 */
}

.post h2, .post h1  {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.post h2 a {
  color: salmon;
  text-decoration: none;
  transition: color 0.3s ease;
}

.post h2 a:hover, .post h1:hover {
  color: #f16043;
}

.post p {
  text-align: center;
}

.post-date {
  font-style: italic;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.post .excerpt {
  color: #555;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 20px;
}

.read-more {
  display: block;
  text-align: center;
  font-size: 1em;
  color: #4fc3f7;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

.read-more:hover {
  text-decoration: underline;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 18px; /* 提高文章内容的字体大小 */
  line-height: 2; /* 增加文章内容的行高 */
}