<footer>
  <p>&copy; <%= new Date().getFullYear() %> <%= theme.author %>. All rights reserved.</p>
  <!-- <script src="/js/main.js"></script> -->
  <script src="<%- config.root %>js/script.js"></script>
</footer>
