<div id="search-modal" class="search-modal">
  <div class="search-modal-content">
    <h3><%- __('menu.search-results') %></h3>
    <span id="search-close" class="search-close">&times;</span>
    <div id="search-results"></div>
  </div>
</div>